* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f0f0f0;
    /* height: 100%; */

    overflow-x: hidden;
}
/* slider */
.slider {
    width: 100%;
    max-width: 1200px;
    margin: 1rem auto 0;
    text-align: center;
    padding: 1rem;
    /* set relative buttons */
    position: relative;
    /* height: 100%; */
    /* margin: 0 auto; */
    /* margin-top: 2rem; */
    /* background-color: red; */
}
/* Review Heading */
.review {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
     /* background-color: blue; */
}
.review h2 {
    text-transform: capitalize;
    margin-top: 2rem;
    font-size: 3rem;
    letter-spacing: 0.2rem;
}
 .review span {
    color: #44a9e5;
    font-size: 2rem;
    margin-right: 1rem;
}


/* slider container */
.slider-container {
    /* background-color: blue; */
    display: flex;
    position: relative;
    text-align: center;
    height: 550px;

    /* width: 720px; */
    /* width: min(720px); */

    overflow: hidden;
    margin: 0 auto;
}
/* individual slide */
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    padding: 1rem;
}
.slide.active {
    opacity: 1;
    transform: translateX(0);
}
.slide.next {
    transform: translateX(100%);
}
.slide.last {
    transform: translateX(-100%);
}
/* image */
.img {
    object-fit: cover;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #f0f0f0;
    border: 1px solid hsl(205, 78%, 60%);
    padding: 0.25rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) ;
    margin-bottom: 1rem;
}
h3 {
    text-transform: uppercase;
    color: #44a9e5;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1.1rem;

}
.title {
    text-transform: capitalize;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    margin-bottom: 1.3rem;
}
.text {
    text-transform: lowercase;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
    text-align: center;
    
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;

}
.quote-icon {
    font-size: 5rem;
    color: #44a9e5;
}
.btn {
    background-color:  hsl(211, 27%, 70%);
    color: black;
    font-size: 1rem;
    border: transparent;
    border-radius: 0.25rem;
    padding: 0.25rem 0.35rem;
    position: absolute;
    top: 220px;
    cursor: pointer;
}
.prv-btn {
    left: 8rem;
}
.next-btn {
    right: 8rem;
}



@media screen and (max-width: 992px) {
    .slider {
        /* background-color: green; */
        margin-top: 1.5rem;
        /* width: 90%; */
        /* padding: 0.8rem 0; */
    }
    .review {
        /* background-color: red; */
         margin-bottom: 2rem;
    }
    .review h2 {
        margin-top: 0.8rem;
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
    }
    .review span {
        font-size: 1.7rem;
        margin-right: 0.8rem;

    }
    .slider-container {
        /* background-color: red; */
        height: 530px;
        width: 100%;
        /* width: 620px; */
    }
    img {
        width: 150px;
        height: 150px;
        padding: 0.23rem;
        margin-bottom: 0.85rem;
    }
    h3 {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
    .title {
        font-size: 1.2rem;
        margin-bottom: 1.3rem;
    }
    .text {
        font-size: 1.1rem;
        line-height: 1.7rem;
        margin-bottom: 1.8rem;
    }
    .quote-icon {
        font-size: 3.8rem;
    }
    .btn {
        top: 200px;
    }
    .prv-btn {
    left: 7rem;
    }
    .next-btn {
        right: 7rem;
    }
}

@media screen and (max-width: 768px) {
    .slider {
        /* background-color: brown; */
        /* width: 80%; */
        margin-top: 1rem;
        padding: 1rem 0.5rem;

    }
     .review {
         margin-bottom: 1.5rem;
    }
    .review h2 {
        margin-top: 0.5rem;
        font-size: 2rem;        
    }
    .review span {
        font-size: 1.5rem;
        margin-right: 0.6rem;
    }
    .slider-container {
        height: 520px;
    }
     img {
        width: 120px;
        height: 120px;
    }
     h3 {
        font-size: 1rem;
        margin-bottom: 0.95rem;
    }
    .title {
        font-size: 1.1rem;
        margin-bottom: 1.2rem;
        
    }
    .text {
        font-size: 1rem;
        line-height: 1.59rem;
    }
     .quote-icon {
        font-size: 3.3rem;
    }
    .btn {
        top: 160px;
        /* top: 200px; */
    }
    .prv-btn {
        left: 5rem;
    }
    .next-btn {
        right: 5rem;
    } 
}
@media screen and (max-width: 480px) {
    .slider {
        /* background-color: burlywood; */
        /* width: 70%; */
        margin-top: 0.9rem;
        padding: 0.5rem;
    }
    .review {
         margin-bottom: 1rem;
    }
    .review h2 {
        font-size: 1.6rem;        
    }
    .review span {
        font-size: 1.3rem;
        margin-right: 0.4rem;
    }
    .slider-container {
        height: 515px;
        /* background-color: aquamarine; */
    }
     img {
        width: 110px;
        height: 110px;
    }
     h3 {
        font-size: 0.8rem;
        margin-bottom: 0.7rem;
    }
    .title {
        font-size: 1rem;
        margin-bottom: 1.1rem;
        line-height: 1.53rem;
    }
     .text {
        font-size: 0.89rem;
    }
    .quote-icon {
        font-size: 3rem;
    }
    .btn {
        top: 140px;
        font-size: 0.89rem;
        /* padding: 0.3rem 0.45rem;  */
    }
    .prv-btn {
        left: 2rem;
    }
    .next-btn {
        right: 2rem;
    } 
    
}